/* Deklaracja zmiennych globalnych dla kolorów - wg specyfikacji «C6»*/
:root {
  --blue: #2196f3;
  --blue-transparent: rgba(33, 150, 243, 0.9);
  --logo-black: #000000;
  --font-black: #212121;
  --font-gray: #757575;
  --font-gray-transparent: #75757580;
  --font-white: #ffffff;
  --font-address: #ffffff99;
  --font-newsletter: #ffffff99;
  --border-newsletter: #ffffff4d;
  --shadow-newsletter: #ffffff26;
  --shadow: rgba(0, 0, 0, 0.25);
  --background-dark: #2f303a;
  --background-dark-transparent: #2f303a66;
  --background-overlay: rgba(0, 0, 0, 0.2);
  --close-circle: rgba(0, 0, 0, 0.1);
  --stroke-color: #ececec;
  --border-color: #eeeeee;
  --button-color: #f5f4fa;
  --icon-color: #afb1b8;
  --background-light: #e5e5e5;
  --shadow-box-1: rgba(0, 0, 0, 0.12);
  --shadow-box-2: rgba(0, 0, 0, 0.14);
  --shadow-box-3: rgba(0, 0, 0, 0.2);
  --shadow-box-portfolio-1: rgba(0, 0, 0, 0.12);
  --shadow-box-portfolio-2: rgba(0, 0, 0, 0.06);
  --shadow-box-portfolio-3: rgba(0, 0, 0, 0.16);
  --section-padding: 94px;
  --icon-background: rgba(255, 255, 255, 0.1);
  --text-box-background: rgba(47, 48, 58, 0.8);
  --input-border: #21212133;
  --button-shadow: rgba(0, 0, 0, 0.25);
}

.webstudio {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--font-gray);
  background-color: var(--background-light);
  width: 1600px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Klasy dla logo - ogólna + szczególna */

.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--blue);
}

.logo__header {
  color: var(--logo-black);
}

.logo__footer {
  color: var(--font-white);
}

/* Klasy dla svg */
.icon {
  fill: currentColor;
  display: inline-block;
}

.icon--top {
  margin-right: 10px;
}

.icon--social {
  display: block;
}

.bottom__address {
  margin-top: 20px;
}

/* Klasy dla menu */

.menu__hyperlink {
  font-size: 14px;
  font-weight: 500;
  color: var(--font-black);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__hyperlink:hover,
.menu__hyperlink:focus {
  color: var(--blue);
}

.menu {
  padding: 24px 0px 25px 0px;
  background-color: var(--font-white);
  border-bottom: 1px solid var(--stroke-color);
}

.menu__left {
  gap: 93px;
}

.menu__right {
  gap: 50px;
}

.menu__links {
  gap: 46px;
}

.menu__hyperlink--is-active {
  color: var(--blue);
  position: relative;
}

.menu__hyperlink--is-active:after {
  content: '';
  position: absolute;
  transform: translateY(46px);
  left: 0px;
  width: 53px;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
}

/*Klasy sekcji */

.section__main-header {
  margin-bottom: 30px;
  color: var(--font-white);
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}

.section__header {
  text-align: center;
  color: var(--font-black);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.section--article {
  text-align: center;
  background-color: var(--font-white);
}

.section {
  padding: var(--section-padding) 0px;
}

.section--team {
  background-color: var(--button-color);
}

.section--cta {
  text-align: center;
  background: linear-gradient(
      var(--background-dark-transparent),
      var(--background-dark-transparent)
    ),
    url('../images/main.jpg');
  background-size: cover;
}
.container--cta {
  padding: 106px 252px;
}
.section--project {
  text-align: center;
  background-color: var(--font-white);
}

/* Klasa dla list */

.list-item {
  list-style: none;
}

.list-item--margin {
  margin: 9px 0px;
}

.list-item--button {
  display: inline-block;
}

/* Klasy dla article*/

.flex--article {
  margin-bottom: 94px;
  gap: 30px;
}

.article {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.article__icon-box {
  padding: 25px 100px;
  background-color: var(--button-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.article__header {
  color: var(--font-black);
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}

.article__text {
  color: var(--font-gray);
  text-align: justify;
  line-height: 1.7;
}

.section--clients {
  background-color: var(--font-white);
}

.client-logo {
  border-radius: 4px;
  outline: 1px solid var(--icon-color);
  padding: 16px 32px;
  display: inline-block;
  color: var(--icon-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo:hover,
.client-logo:focus {
  color: var(--blue);
  outline-color: var(--blue);
}

/* klasy dla teamu: */

.team-member {
  background-color: var(--font-white);
  width: 270px;
  font-size: 16px;
  letter-spacing: 0.03em;
  box-shadow: 0px 1px 3px var(--shadow-box-1), 0px 1px 1px var(--shadow-box-2),
    0px 2px 1px var(--shadow-box-3);
  border-radius: 0px 0px 4px 4px;
}

.team-member__description {
  padding: 30px 32px;
  text-align: center;
}
.team-member__name {
  color: var(--font-black);
  font-weight: 500;
}

.team-member__position {
  margin-top: 10px;
  margin-bottom: 16px;
  color: var(--font-gray);
}

.social-media {
  display: block;
  padding: 12px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media--footer {
  color: var(--font-white);
  background-color: var(--icon-background);
}

.social-media--footer:hover,
.social-media--footer:focus {
  background-color: var(--blue);
}

.social-media--team {
  color: var(--icon-color);
}

.social-media--team:hover,
.social-media--team:focus {
  background-color: var(--blue);
  color: var(--font-white);
}

/* Klasa project dla divów w których są przykłady portfolio */

.box-grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.project-box {
  position: relative;
  width: 370px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-box:hover,
.project-box:focus {
  box-shadow: 0px 1px 1px var(--shadow-box-portfolio-1), 0px 4px 4px var(--shadow-box-portfolio-2),
    1px 4px 6px var(--shadow-box-portfolio-3);
  cursor: pointer;
}

.project-box__text-box {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.project-box__text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--font-white);
  text-align: left;
  padding: 49px 45px 49px 24px;
  background-color: var(--blue-transparent);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-box:hover .project-box__text,
.project-box:focus .project-box__text {
  transform: translateY(-294px);
}

.project-box__caption {
  position: relative;
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
  text-align: left;
}

.project-box__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--font-black);
}

.project-box__description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--font-gray);
  text-align: left;
}

.overlay-text {
  transform: translateY(-70px);
  background-color: var(--text-box-background);
  font-weight: 700;
  font-size: 14px;
  color: var(--font-white);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 0;
}


/* Klasa buttons dla przycisków z filtrami */
/* Z jakiegoś powodu gdy w klasach .buttons nie ma zadeklarowanej font-family: 'Roboto' - czcionka się zmienia */

.button {
  font-size: 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 0px;
  cursor: pointer;
  border-radius: 4px;
}

.button--project {
  display: inline-block;
  background-color: var(--button-color);
  color: var(--font-black);
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  margin: 0px 4px 50px;
}

.button--cta {
  background-color: var(--blue);
  color: var(--font-white);
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 0.06em;
  padding: 10px 41px;
}
.button--project:hover,
.button--project:focus {
  background-color: var(--blue);
  color: var(--font-white);
  box-shadow: 0px 4px 4px var(--shadow);
}

/* Klasy dla addresu w header i footer */

.contact {
  font-size: 14px;
}

.contact--header {
  font-weight: 500;
  color: var(--font-gray);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact--header:hover,
.contact--header:focus {
  color: var(--blue);
}

.contact--footer {
  color: var(--font-address);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact--footer:hover,
.contact--footer:focus {
  color: var(--blue);
}

.bottom__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 22px;
  margin-bottom: 0px;
}

.bottom__social-box {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.newsletter {
  display: flex;
  padding-top: 20px;
}

.newsletter__email-box {
  padding: 15px 16px;
  width: 358px;
  border: 1px solid var(--border-newsletter);
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--font-newsletter);
  box-shadow: 0px 4px 4px var(--newsletter-shadow);
}
.icon--newsletter {
  margin-left: 24px;
  display: inline-block;
}
.button--newsletter {
  margin-left: 12px;
  padding: 10px 28px 10px 42px;
}

/* Klasa dla footer */

.bottom {
  padding: 60px 0px;
  letter-spacing: 0.03em;
  color: var(--font-white);
  background-color: var(--background-dark);
  line-height: 1.7;
}

/* OKNO MODUŁOWE */

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vw;
  background-color: var(--background-overlay);
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.modal {
  position: fixed;
  justify-content: center;
  top: 50%;
  left: 50%;
  opacity: 1;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--font-white);
  border-radius: 4px;
  box-shadow: 0px 1px 3px var(--shadow-box-1), 0px 1px 1px var(--shadow-box-2),
    0px 2px 1px var(--shadow-box-3);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 9px;
  border: 1px solid var(--close-circle);
  background-color: var(--font-white);
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-icon {
  display: block;
}

.cta-form {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cta-form__text {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.172;
  letter-spacing: 0.03em;
  color: var(--font-black);
  margin-bottom: 12px;
}

.cta-form__label {
  position: relative;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: var(--font-gray);
  margin-bottom: 4px;
}

.cta-form__input {
  background-color: transparent;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  margin-bottom: 10px;
  color: var(--font-gray);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cta-form__input:focus-within {
  outline: none;
  border-color: var(--blue);
}

.cta-form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 40px;
  left: 16px;
  transform: translateY(-50%);
}

.cta-form__label-box {
  display: flex;
  flex-direction: column;
  fill: var(--font-black);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cta-form__label-box:focus-within {
  fill: var(--blue);
}

.cta-form__adnotations {
  position: scroll;
  padding: 12px 16px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 20px;
  color: var(--font-gray);
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  resize: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cta-form__adnotations::placeholder {
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: var(--font-gray-transparent);
}
.cta-form__adnotations:focus-within {
  outline: none;
  border-color: var(--blue);
}

.button--form {
  margin: 0 auto;
  width: 200px;
  box-shadow: 0px 4px 4px var(--button-shadow);
}

.cta-form__agreement {
  position: relative;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--font-gray);
  margin-bottom: 30px;
  margin-left: 14px;
  padding-left: 7px;
}
.cta-form__checkbox {
  opacity: 0;
}
.cta-form__agreement-link {
  text-decoration-line: underline;
  color: var(--blue);
}

.cta-form__check-border {
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 15px;
  border: 2px solid var(--font-black);
  border-radius: 2px;
  margin-right: 8px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cta-form__checkbox:checked + .cta-form__check-border {
  background-color: var(--blue);
  outline: none;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
}

.cta-form__checkbox:checked + .cta-form__check-border > .cta-form__check-icon {
  visibility: visible;
}
.cta-form__check-icon {
  visibility: hidden;
  display: block;
  fill: var(--font-white);
}
