@import '../sass/utils/variables';
@import '../sass/sourcemaps';
@import '../sass/components/logo';
@import '../sass/components/mixins';
@import '../sass/components/menu';
@import '../sass/components/section';
@import '../sass/components/project-box';
@import '../sass/components/button';
@import '../sass/components/page-footer';
@import '../sass/components/modal';
@import '../sass/components/form';
@import '../sass/components/article';
@import '../sass/components/team-member';
@import '../sass/components/social-media';

.webstudio {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: font-color('primary');
  font-size: font-size('standard');
  background-color: $background-light;
  letter-spacing: spacing('standard');
  font-weight: 500;
  line-height: 1.17;
  width: 1600px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &--cta {
    padding: 106px 252px;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &--article {
    margin-bottom: 94px;
    gap: 30px;
  }
}

.customer-logo {
  border-radius: $standard-radius;
  outline: 1px solid $icon-color;
  padding: 16px 32px;
  display: inline-block;
  color: $icon-color;
  @include default-transition;
  &:hover,
  &:focus {
    color: $active;
    outline-color: $active;
  }
}

/* Klasy dla svg */
.icon {
  fill: currentColor;
  display: inline-block;
  &--top {
    margin-right: 10px;
  }
  &--social {
    display: block;
  }
  &--newsletter {
    margin-left: 24px;
    display: inline-block;
  }
}

/* Klasa dla list */

.list-item {
  list-style: none;

  &--margin {
    margin: 9px 0px;
  }

  &--button {
    display: inline-block;
  }
}

/* Klasa project dla siatki w których są przykłady portfolio */
.box-grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

// Klasa dla tekstu nachodzacego na zdjęcia
.overlay-text {
  transform: translateY(-70px);
  background-color: $text-box-background;
  font-weight: 700;
  color: font-color('contrast');
  text-transform: uppercase;
  padding: 27px 0;
}

// Klasa dla stylizywania kontaktów
.contact {
  @include default-transition;
  &:hover,
  &:focus {
    color: $active;
  }
  &--header {
    color: font-color('primary');
  }

  &--footer {
    color: font-color('address');
  }
}

//klasa dla stylizowania boxa z newsletterem
.newsletter {
  display: flex;
  padding-top: 20px;

  &__email-box {
    padding: 15px 16px;
    width: 358px;
    border: 1px solid $border-newsletter;
    border-radius: $standard-radius;
    background-color: transparent;
    font-size: font-size('medium');
    line-height: 1.25;

    color: font-color('newsletter');
    box-shadow: 0px 4px 4px shadow('newsletter');
  }
}
