/* Klasy dla menu */

.menu {
  padding: 24px 0px 25px 0px;
  background-color: font-color('contrast');
  border-bottom: 1px solid $stroke-color;

  &__hyperlink {
    color: font-color('secondary');
    @include default-transition;
    &:hover,
    &:focus {
      color: $active;
    }

    &--is-active {
      color: $active;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        transform: translateY(45px);
        left: 0px;
        width: 53px;
        height: 4px;
        background-color: $active;
        border-radius: 2px;
      }
    }
  }

  &__left {
    gap: 93px;
  }

  &__right {
    gap: 50px;
  }

  &__links {
    gap: 46px;
  }
}
