/* Klasy dla menu */
<<<<<<< HEAD
<<<<<<< HEAD


@use '../utils/variables' as *;
@use '../components/extends' as *;
=======
>>>>>>> parent of 61d5dda (revert changes)
=======
@use '../utils/variables' as *;
@use '../components/mixins' as *;
>>>>>>> parent of b8db29b (Zmiany wg uwag mentora)

.menu {
  padding: 24px 0px 25px 0px;
  background-color: font-color('contrast');
  border-bottom: 1px solid $stroke-color;

  &__hyperlink {
    color: font-color('secondary');
    @extend .defaultTransition;
    &:hover,
    &:focus {
      color: $active;
    }

    &--isActive {
      color: $active;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        transform: translateY(45px);
        left: 0px;
        width: 53px;
        height: 4px;
        background-color: $active;
        border-radius: 2px;
      }
    }
  }

  &__left {
    gap: 93px;
  }

  &__right {
    gap: 50px;
  }

  &__links {
    gap: 46px;
  }
}
