@use '../utils/variables' as *;
@use '../components/mixins' as *;

.project-box {
  position: relative;
  width: 370px;
  @include default-transition;

  &:hover,
  &:focus {
    @include portfolio-shadow;
    cursor: pointer;
  }

  &__text-box {
    position: relative;
    overflow: hidden;
    height: 294px;
  }

  &__text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: font-size('medium-large');
    line-height: 1.55;

    color: font-color('contrast');
    text-align: left;
    padding: 49px 45px 49px 24px;
    background-color: $active-transparent;
    @include default-transition;
    &-box:hover &,
    &-box:focus & {
      transform: translateY(-294px);
    }
  }

  &__caption {
    position: relative;
    padding: 20px 24px;
    border: 1px solid $border-color;
    border-top: none;
    text-align: left;
  }

  &__title {
    font-size: font-size('medium-large');
    font-weight: 700;
    line-height: 2;
    letter-spacing: spacing('large');
    text-align: left;
    color: font-color('secondary');
  }

  &__description {
    font-size: font-size('medium');
    line-height: 1.875;
    text-align: left;
  }
}
